<h1>Archived</h1>


<nav class="nav bg-light nav-tabs mt-4 container-fluid">
  <div class="card w-60 mt-3 mb-3">
    <div class="card-body">

      <ul class="navbar-nav">
        <%  @archived.each do |article| %>
          <%if article.status=="archived" %>
            <li class="nav-items card-header">
              <%= link_to article.title, article,class:"nav-link" %>
            </li>
          <%end%>
        <% end %>
      </ul>
    </div>
  </div>
</nav>