<style>
body{

  background-color: #000;
}
.card{

  width: 450px;
  border:none;

}


.btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-dark:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.nav-pills{

  display:table !important;
  width:100%;
}

.nav-pills .nav-link {
    border-radius: 0px;
        border-bottom: 1px solid #0d6efd40;

}

.nav-item{
      display: table-cell;
       background: #0d6efd2e;
}

</style>

<script>
  $("li a").on("click",function(){
    //event.preventDefault();
    console.log("hello")
     console.log($("li a.active").removeClass("active"));
     $(this).addClass("active");
  });
</script>



<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card">
        <ul class="nav nav-pills mb-3" id="loginCard">
            <li class="nav-item text-center">
                <%= link_to "Login",sign_in_path, class:"nav-link active signin"%>
            </li>
            <li class="nav-item text-center">
                <%= link_to "Sign up",sign_up_path,class:"nav-link signup"%>
            </li>    
          </ul>